/* dark-mode.css */

/* Apply smooth transition for background and color changes */
body, .container, .log-item {
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
}

/* When dark mode is enabled, adjust the styles */


.container.dark-mode {
    background-color: #1d1c27; /* Dark background */
    color: white; /* Light text */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Darker shadow for better contrast */
}

/* For log items */
.log-item.dark-mode {
    background-color: #cb99dc;
}

.log-item.dark-mode:hover {
    background-color: #f7c7f9;
}






/* Dark mode button transition */
#dark-mode-toggle {
    background-color: transparent; /* Remove background */
    border: none; /* Remove border */
    font-size: 1.5rem; /* Icon size */
    cursor: pointer; /* Make it clickable */
    color: inherit; /* Inherit text color */
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Keep the dark mode button color light grey */
body.dark-mode #dark-mode-toggle {
    color: #d3d3d3; /* Light grey color when dark mode is active */
}




label {
    width:40px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    cursor: pointer;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4), inset 0px -2px 3px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: 0.4s;
}

label:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8870b);
    border-radius: 18px;
    box-shadow: 0px 5px 10px rgba(0,0,0);
    transition: width 0.3s ease;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label {
    background: #242424;
}

input:checked + label:after {
    left: 38px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffffff, #747474);
}


label:active:after {
    width: 20px;
}