/* global.css */

/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 20px;
}

.container {
    width: 300px;
    height: 400px;
    background-color: #f5f5f4;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
    position: relative;
}


.header-container {
    width: 100px;
    height: 400px;
    background: linear-gradient(to bottom, rgb(37, 117, 176), rgb(135, 206, 235));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.grid-for-two {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; /* Vertically center the content */
}

.left-column {
    width: 60%;  /* Adjust as needed */
}

.right-column {
    width: 40%;  /* Adjust as needed */
    text-align: right; /* Align text to the right */
}

h2 {
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 230px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.center-content {
    text-align: center; /* Center text and elements inside this container */
}


#users-image {
    transition: transform 0.3s ease; /* Smooth transition for scaling */
    cursor: pointer;
    width: 100%;
    margin-top: 120px;
}

#users-image:hover {
    transform: scale(1.1); /* Slightly scale up the image on hover */
}



/* Home Tab */


#greeting {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}



.greeting-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.profile-container {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 15px; /* This will give it rounded corners */
    background-color: #f0f0f0;
    overflow: hidden;
    border: 2px solid #ddd;
}

.profile-image {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}





