/* log-item.css */

/* Log item styling */
.log-item {
    display: grid;
    grid-template-columns: 2fr 20fr 1fr; /* 1/5th for favicon, 3/5th for URL, 1/5th for remove button */
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    justify-items: start; /* Align items to the left */
    gap: 10px; /* Add some gap between columns */
    border: 1px solid #ddd; /* Add border around each log item */
    border-radius: 5px; /* Optional: rounding the corners */
    cursor: pointer; /* Make it look clickable */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

/* Hover effect for log items */
.log-item:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
    transition: transform 0.2s ease;
}

/* Favicon box */
.favicon-box {
    width: 30px;  /* Set width for the favicon */
    height: 30px;
    object-fit: cover;
}

/* URL box */
.url-box {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 20px;
    word-wrap: break-word;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    white-space: nowrap; /* Prevent the URL from breaking into multiple lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if the URL is too long */
}

/* The remove button */
.remove-btn {
    cursor: pointer;
    font-size: 10px;
    color: #cac9c9;
}

.remove-btn:hover {
    color: #7b7b7b; /* Change color to red on hover */
}



#log-list {
    max-height: 130px; /* or any height that suits your design */
    margin-bottom: 30px;
}


#bookmark-list {
    max-height: 130px; /* or any height that suits your design */
}